.body {}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    gap: 25px;
    padding-right: 30px;

}

.header-logo {
    padding-left: 10px;
}

.search {
    padding: 10px;
}

.res-card {
    padding: 5px;
    width: 200px;
    height: 300px;
    border: 1px solid grey;
    background-color: #f0f0f0;
    align-items: center;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-img {
    justify-content: center;
    padding: 5px;
}

.res-conatiner {
    /* overflow-x: hidden; */
    /* width: 500px; */
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filter-btn {
    cursor: pointer;
}